---
import BackHome from "../components/BackHome.astro";
import Content from "../components/Content.astro";
import MinimalFooter from "../components/MinimalFooter.astro";
import SectionHeader from "../components/SectionHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <main class="lg:px-4 lg:w-3/5 2xl:w-3/6 mx-auto -mt-3">
    <BackHome />
    <SectionHeader>About</SectionHeader>
    <Content>
      <p class="mt-4 mb-10">
        Hello, I'm Arnold aka ADCodes a Frontend Engineering somewhere in Nigeria and a self-taught. In recent times I have worked with amazing startups and communities for 7 months from Germany to India, gaining expertise and experience with various languages.
        I also build bots and web extensions which have quite a lot of users
        ADCodes is a very hard working Frontend Engineer and I make sure things are done pixel perfect
      </p>
    </Content>

    <SectionHeader>Languages & Tools</SectionHeader>
    <Content>
      <p>
        Here are some of the tools and technologies I have worked with over the
        last few years; majorly or not (in no particular order):
      </p>
      <ul class="mt-3">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Typescript</li>
        <li>Ruby</li>
        <li>
          Some frameworks/libraries I have know are:
          <ul>
            <li>React.js</li>
            <li>React Native</li>
            <li>Tailwind</li>
            <li>Astro</li>
            <li>Next.js</li>
            <li>Gsap</li>
            <li>Framer Motion</li>
          </ul>
        </li>
      </ul>
    </Content>
  </main>
</Layout>
